*,
::before,
::after {
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
.main-header {

  width: 100%;
  height: 6.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
 
   

  background-color: #fdfdfc; 
  z-index: 1;
  text-decoration: none;
}
.main-header > .logo {
  max-width: 141px;
  max-height: 22px;
  /* text-decoration: none; */
  color: rgb(165, 118, 129) !important;
  font-weight: 500;
  font-size: 1.2rem;
}
.main-header > .cta-button {
  display: none;
}
@media (min-width: 992px) {
  .main-header {
    height: 4rem;
    max-width: 860px;
    padding: 0;
  }
  .main-header > .cta-button {
    display: flex;
    max-width: 10rem;
    max-height: 4.4rem;
  }
  .main-header > .menu-button {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-header {
    max-width: 1110px;
  }
}

.main-nav {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 6.4rem;
  left: 0;
  background-image: linear-gradient(to bottom, #2d314d, transparent);
  padding: 2.4rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  z-index: 1;

}
.main-nav.-active {
  visibility: visible;
  opacity: 1;
  transition: all 0.4s ease-in-out;

}
.main-nav > .items-list {
  display: grid;
  gap: 2.4rem;
  justify-content: center;
  text-align: center;
  padding: 1.4rem 0;
  border-radius: 5px;
  background-color: #ffffff; 

}
.main-nav > .items-list > .item > .link {
  font-size: 1.2rem;
  font-weight: 400;
  color:#8e563d;
  text-decoration: none;
}
@media (min-width: 992px) {
  .main-nav {
    position: relative;
    width: 100%;
    height: 100%;
    visibility: visible;
    opacity: 1;
    top: 0;
    padding: 0;
    background-image: none;
    display: flex;
    justify-content: center;

    align-items: center;
    overflow: hidden;
  }
  .main-nav > .items-list {
    height: 100%;
    display: flex;
    padding: 0;
  }
  .main-nav > .items-list > .item {
    width: 100%;
    height: inherit;
    position: relative;
    display: flex;
    align-items: center;
    margin: 0 0.8rem;
  }
  .main-nav > .items-list > .item:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(
      to right,
     #8e563d ,
      rgba(255, 244, 241, 0.8)
    );
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .main-nav > .items-list > .item:hover > .link {
    font-weight: 500;
  }
  .main-nav > .items-list > .item:hover:after {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
}
.btn-primary {
  width: 15%;
  height: 54%;
  transition: all 0.3s ease-out;
  background-color:#8e563d;
  color: rgb(250, 250, 250);
   font-size: 1.2rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

}
.btn-primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.13);
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;

}

/* <!-- HEADER ACABA AQUI --> */

