<div>
  <!-- Footer -->
  <footer
    class="text-center text-white"
    style="background-color: rgba(207, 177, 180, 0.8)"
  >
    <!-- Grid container -->
    <div class="py-4">
      <!-- Section: Text -->
      <section>
        <div class="d-flex justify-content-center">
          <div class="p-0">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
              distinctio earum repellat quaerat <br />
              voluptatibus placeat nam, commodi optio pariatur est quia magnam
              <br />
              eum harum corrupti dicta, aliquam sequi voluptate quas.
            </p>
          </div>
        </div>
      </section>
      <!-- Section: Text -->

      <!-- Section: Social -->
      <section class="text-center">
        <a href="#" class="text-white me-4">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="#" class="text-white me-4">
          <i class="bi bi-twitter"></i>
        </a>
        <a href="#" class="text-white me-4">
          <i class="bi bi-google"></i>
        </a>
        <a href="#" class="text-white me-4">
          <i class="bi bi-instagram"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/nitech-academy-20133620a/"
          class="text-white me-4"
        >
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="#" class="text-white me-4">
          <i class="bi bi-github"></i>
        </a>
      </section>
      <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(165, 118, 129)">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/"
        >nitechacademy.com.br</a
      >
    </div>
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
