<div>
  <!-- Footer -->
  <footer
    class="text-center text-white"
    style="background-color:#fff8e7"
  >
    <!-- Grid container -->
    <div class="py-4">
      <!-- Section: Text -->
      <section>
        <div class="d-flex justify-content-center">
          <div class="p-0">
            <p>
              Dra. Joyce Godoy, biomédica especializada em estética corporal, emagrecimento e estética facial, pós-graduada em nutrição estética,<br> trabalho com harmonização de face e corpo <br />
              como profissional da saúde o biomédico esteta visa a utilização de diferentes procedimentos e <br>tratamentos preventivos do envelhecimento fisiológico do organismo e disfunções estéticas faciais<br> ou corporais,  com o objetivo de promover a saúde e o bem-estar físico e estético dos pacientes.
              <br />
            </p>
          </div>
        </div>
      </section>
      <!-- Section: Text -->

      <!-- Section: Social -->
      <section class="text-center">
        <!-- <a href="#" class="text-white me-4">
          <i class="bi bi-facebook"></i>
        </a>
        <a href="#" class="text-white me-4">
          <i class="bi bi-twitter"></i>
        </a>
        <a href="#" class="text-white me-4">
          <i class="bi bi-google"></i>
        </a> -->
        <a href="https://www.instagram.com/nitechacademy/" class="text-white me-4" >
          <i class="bi bi-instagram"></i>
        </a>
        <a
          href="https://api.whatsapp.com/send/?phone=5511910647113&text&type=phone_number&app_absent=0"
          class="text-white me-4"
        >
          <i href="https://wa.me/5511910647113" class="bi bi-whatsapp" style="color: green;"></i>
        </a>
      
      </section>
      <!-- Section: Social -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #8e563d">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/"
        >nitechacademy.com.br</a
      >
    </div>
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
