* {
  box-sizing:border-box;
  font-size: 1.2rem;
  font-weight: 400;
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column{
  float: right;
  width: 25%;
  padding: 0 45px;

}

/* Remove extra left and right margins, due to padding */
.row, r {
  margin: 0 65px;
 padding-bottom: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 4px;
  text-align: center;
  background-color: hsla(308, 98%, 51%, 0.007);
}

  .card-img-top{
  
  }


h2{
padding: 20px;
  color: #141414;
  letter-spacing: 1px;
}

h3{
  padding-top:10px ;
}
p{
  color: #9698a6;
  font-size: 12px;
}

.center{
  text-align: center;
  
}
