<div class="center">
  <h2>Procedimentos</h2>
  
  </div>
  
  <div class="row">
   <div class="column">
      <div class="card">
        <img src="../../assets/image/bumbum.jpg" class="card-img-top" routerLink="schedule" style="width: auto">
        <h3>Bumbum de ouro</h3>
        <!-- <p>Tratamento minimamente invasivo, que utiliza o ácido hialurônico para proporcionar simetria.</p> -->
        <p>Por apenas:</p>
        <h4>R$999,99</h4>
       
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/image/lipo de papada.jpeg" class="card-img-top" routerLink="schedule" style="width: auto">
        <h3>Estética facial</h3>
        <!-- <p>Esse conjunto determina a personalidade e a aparência de uma pessoa.</p> -->
        <p>Por apenas:</p>
        <h4>R$999,99</h4>
      </div>
    </div>
    
    <div class="column" >
      <div class="card" >
        <img src="../../assets/image/botox.jpeg" class="card-img-top" routerLink="schedule" style="width: auto" >
        <h3>Bioestimuladores</h3>
        <!-- <p>Tem como principal função dar sustentação à pele, formar colágeno e oferecer uma aparência bem mais jovem e firme.</p> -->
        <p>Por apenas:</p>
        <h4>R$999,99</h4>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../../assets/image/preenchimento.jpeg" class="card-img-top" routerLink="schedule" style="width: auto">
        <h3>Botox</h3>
        <!-- <p> É o principal procedimento que possui substâncias para amenizar as rugas dinâmicas.</p> -->
        <p>Por apenas:</p>
        <h4>R$999,99</h4>
      </div>
    </div>


    
   
  </div>
  
  <h2>Para mais procedimentos corporais</h2>
  <div class="d-grid gap-2 col-3 mx-auto">
   

<!-- Button trigger modal -->
<button type="button" class="btn btn-purple" data-bs-toggle="modal" data-bs-target="#exampleModal">
  clique aqui
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Procedimentos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>





    