* {
  box-sizing:border-box;
  font-size: 1.2rem;
  font-weight: 500;

}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column{
  float: right;
  width: 25%;
  padding: 0 45px;

}

/* Remove extra left and right margins, due to padding */
.row{
  margin: 0 65px;
 padding: 30px;
 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {

  padding: 4px;
  text-align: center;
  background-color: hsla(308, 98%, 51%, 0.007);
  transition: all 0.3s ease-out;
}
.card:hover {
  transform: translateY(-3px);
  cursor: pointer;

}
 
.btn-purple {

  background-color:#8e563d;
  color: white;
  transition: all 0.3s ease-out;
 
}

.btn-purple:hover {
  opacity: 0.85;
  transform: translateY(-3px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.13);
  transition: opacity 0.3s ease-in-out;
}

h2{
padding: 20px;
color:#8e563d;
  letter-spacing: 1px;
  text-align: center;
}

h4{
  padding-top:10px ;
 
}
p{
  color: #9698a6;
  font-size: 12px;
}

.center{
  text-align: center;
  
}

