* {
  box-sizing:border-box;
  font-size: 1.2rem;
  font-weight: 400;
}

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column{
  float: right;
  width: 25%;
  padding: 0 45px;

}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 65px;
 padding: 30px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 4px;
  text-align: center;
  background-color: hsla(308, 98%, 51%, 0.007);
  transition: all 0.3s ease-out;
  
}
.card:hover {
  transform: translateY(-3px);
  cursor: pointer;

}
  .card-img-top{
  
  }


h2{
padding: 20px;
  color: #141414;
  letter-spacing: 1px;
  text-align: center;
}

h3{
  padding-top:5px ;
}


.pai{
  margin: 1%;
  text-align: center;
  
}

.container-fluid{
 
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin: 0px;
  padding: 0px;
  grid-template-rows: 2fr 96fr 2fr;
  grid-template-areas: "h h h"
                       "a m m"
                       "f f f"
  
}