
<h2>Responsive Column Cards</h2>
<p>Resize the browser window to see the effect.</p>

<div class="row">
 <div class="column">
    <div class="card">
      <img src="../../assets/Limpeza de pele.png" class="card-img-top"  style="width: 18rem;">
      <h3>Card 4</h3>
      <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p>Some text</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../assets/Limpeza de pele.png" class="card-img-top"  style="width: 18rem;">
      <h3>Card 4</h3>
      <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p>Some text</p>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
      <img src="../../assets/Limpeza de pele.png" class="card-img-top"  style="width: 18rem;">
      <h3>Card 4</h3>
      <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p>Some text</p>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../../assets/Limpeza de pele.png" class="card-img-top"  style="width: 18rem;">
      <h3>Card 4</h3>
      <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <p>Some text</p>
    </div>
  </div>
</div>

