<div class="center">
  <h2>Mais procurados:</h2>
  </div>
  <div class="container-fluid d-flex flex-wrap" >
    <div class="pai" style="align-items: center">
   
     <!--MORE PROCEDIMENTS-->
     <div class="card" style="width: 15rem;">
       <div class="card-body">
         <img src="../../assets/image/procedimentos/preenchimento.jpeg" class="card-img-top"  >
         <h3>Preenchimento</h3>
           <p>AC HIALURONICO 1ML (LABIAL, OLHEIRA, BIGODE CHINES)</p>
           <h4>R$850,00</h4>
         <a href="https://api.whatsapp.com/send/?phone=5511910647113&text&type=phone_number&app_absent=0" class="btn btn-primary" >compre agora</a>
        
     
       </div>
     </div>
   </div>
     <div class="pai">
     <div class="card text-center" style="width: 15rem;">
       <div class="card-body">
         <img src="../../assets/image/procedimentos/lipo de papada.jpeg" class="card-img-top"  >
         <h3>Lipo de papada</h3>
         <p>3 SESSOES DE ENZIMA DE PAPADA + 3 SESSOES DE CARBOX</p>
         <h4>R$450,00</h4>
         <a href="https://api.whatsapp.com/send/?phone=5511910647113&text&type=phone_number&app_absent=0" class="btn btn-primary" >compre agora</a>
       </div>
     </div>
   </div>
   
   <div class="pai">
     <div class="card text-center" style="width: 15rem;">
       <div class="card-body">
         <img src="../../assets/image/procedimentos/celulitezero.jpeg" class="card-img-top" >
         <h3>Celulite zero</h3>
         <p>5 SESSÕES DE ULTRASSOM + 5 ENDERMO + 5 CARBOXITERAPIA</p>
         <h4>R$420,00</h4>
         <a href="https://api.whatsapp.com/send/?phone=5511910647113&text&type=phone_number&app_absent=0" class="btn btn-primary" >compre agora</a>
       </div>
     </div>
   </div>
   
   <div class="pai">
     <div class="card text-center" style="width: 15rem;">
       <div class="card-body">
         <img src="../../assets/image/procedimentos/botox.jpeg" class="card-img-top"  >
         <h3>Botox</h3>
           <p>TOXINA BOTULINICA 50U, impede rugas de expressão. </p>
           <h4>R$990,99</h4>
           <a href="https://api.whatsapp.com/send/?phone=5511910647113&text&type=phone_number&app_absent=0" class="btn btn-primary" >compre agora</a>
       </div>
     </div>
   </div>
   
   <div class="pai">
     <div class="card text-center" style="width: 15rem;">
       <div class="card-body">
         <img src="../../assets/image/procedimentos/bumbum.jpg" class="card-img-top"  >
         <h3>Bumbum de ouro</h3>
           <p>5 SESSÕES GLUTEO MAX + 5 SESSOES DE CORRENTE RUSSA</p>
           <h4>R$1300,00</h4>
           <a href="https://api.whatsapp.com/send/?phone=5511910647113&text&type=phone_number&app_absent=0" class="btn btn-primary" >compre agora</a>
       </div>
     </div>
   </div>
  
   
   </div>
  
 <h2>Para mais procedimentos corporais:</h2>
 

 <div class="container-fluid d-flex flex-wrap" >
 <div class="pai" style="align-items: center">

  <!--MORE PROCEDIMENTS-->
  <div class="card" style="width: 15rem;">
    <div class="card-body">
      <img src="../../assets/image/procedimentos/antiqueda capilar.jpeg" class="card-img-top"  >
      <h3>Antiqueda capilar</h3>
        <p>5 SESSÕES  ENZIMAS CAPILAR + 5 SESSÕES ALTAFREQUENCIA</p>
        <h4>R$550,00</h4>
        <a href="https://api.whatsapp.com/send/?phone=5511910647113&text&type=phone_number&app_absent=0" class="btn btn-primary" >compre agora</a>
    </div>
  </div>
</div>
  <div class="pai">
  <div class="card text-center" style="width: 15rem;">
    <div class="card-body">
      <img src="../../assets/image/procedimentos/celulitezero.jpeg" class="card-img-top"  >
      <h3>Celulite zero</h3>
      <p>5 SESSÕES DE ULTRASSOM + 5 ENDERMO + 5 CARBOXITERAPIA</p>
      <h4>R$420,00</h4>
      <a href="https://api.whatsapp.com/send/?phone=5511910647113&text&type=phone_number&app_absent=0" class="btn btn-primary" >compre agora</a>
    </div>
  </div>
</div>

<div class="pai">
  <div class="card text-center" style="width: 15rem;">
    <div class="card-body">
      <img src="../../assets/image/procedimentos/jato de plasma.jpeg" class="card-img-top"  >
      <h3>Jato de plasma</h3>
      <p>3 SESSÕES DE BLEFAROPLASTIA SEM CORTE </p>
      <h4>R$650,00</h4>
      <a href="https://api.whatsapp.com/send/?phone=5511910647113&text&type=phone_number&app_absent=0" class="btn btn-primary" >compre agora</a>
    </div>
  </div>
</div>

<div class="pai">
  <div class="card text-center" style="width: 15rem;">
    <div class="card-body">
      <img src="../../assets/image/procedimentos/peim.jpeg" class="card-img-top"  >
      <h3>Peim</h3>
        <p>3 SESSÕES SECAGEM DE VASINHOS COM GLICOSE 70%</p>
        <h4>R$250,00</h4>
        <a href="https://api.whatsapp.com/send/?phone=5511910647113&text&type=phone_number&app_absent=0" class="btn btn-primary" >compre agora</a>
    </div>
  </div>
</div>

<div class="pai">
  <div class="card text-center" style="width: 15rem;">
    <div class="card-body">
      <img src="../../assets/image/procedimentos/perca de peso.jpeg" class="card-img-top"  >
      <h3>Perca de peso</h3>
        <p>1 CONSULTA COM A NUTRICIONISTA + 5 SESSÕES ENZIMA EMAGRECIMENTO</p>
        <h4>R$550,00</h4>
        <a href="https://api.whatsapp.com/send/?phone=5511910647113&text&type=phone_number&app_absent=0" class="btn btn-primary" >compre agora</a>
    </div>
  </div>
</div>
<!-- <div class="pai">
  <div class="card text-center" style="width: 15rem;">
    <div class="card-body">
      <img src="../../assets/image/procedimentos/volumização muscular.jpeg" class="card-img-top" routerLink="schedule" >
      <h3>Volumização muscular</h3>
        <p>Por apenas:</p>
        <h4>R$999,99</h4>
      <a href="#" class="btn btn-primary">Compre agora</a>
    </div>
  </div>
</div>

<div class="pai">
  <div class="card text-center" style="width: 15rem;">
    <div class="card-body">
      <img src="../../assets/image/procedimentos/limpeza de pele.jpeg" class="card-img-top" routerLink="schedule" >
      <h3>Limpeza de pele</h3>
        <p>Por apenas:</p>
        <h4>R$999,99</h4>
      <a href="#" class="btn btn-primary">Compre agora</a>
    </div>
  </div>
</div>

<div class="pai">
  <div class="card text-center" style="width: 15rem;">
    <div class="card-body">
      <img src="../../assets/image/procedimentos/Rejuvenescimento facial.jpeg" class="card-img-top" routerLink="schedule" >
      <h3>Rejuvenescimento </h3>
        <p>Por apenas:</p>
        <h4>R$999,99</h4>
      <a href="#" class="btn btn-primary">Compre agora</a>
    </div>
  </div>
</div>

<div class="pai">
  <div class="card text-center" style="width: 15rem;">
    <div class="card-body">
      <img src="../../assets/image/procedimentos/Revitalização facial.jpeg" class="card-img-top" routerLink="schedule" >
      <h3>Revitalização facial</h3>
        <p>Por apenas:</p>
        <h4>R$999,99</h4>
      <a href="#" class="btn btn-primary">Compre agora</a>
    </div>
  </div>
</div>

<div class="pai">
  <div class="card text-center" style="width: 15rem;">
    <div class="card-body">
      <img src="../../assets/image/procedimentos/Tratamento de melasma.jpeg" class="card-img-top" routerLink="schedule" >
      <h3>tratamento de melasma</h3>
        <p>Por apenas:</p>
        <h4>R$999,99</h4>
      <a href="#" class="btn btn-primary">Compre agora</a>
    </div>
  </div>
</div> -->





</div>