
    <!-- TABLE -->
    <div class="table-responsive">
        <table width=90% border="1" bordercolor="#999999">
          <thead>
            <tr class="text-center">
          
              <th>Procedimento </th>
              <th>Clinica</th>
              <th>Cidade</th>
              <th>Bairro</th>
              <th>Duração do procedimento</th>
              <th>Preço</th>
              <th>Agendar</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td>Drenagem linfática</td>
              <td>Clinestetic</td>
              <td>João Pessoa</td>
              <td>Torre</td>
              <td>01:30min</td>
              <td><b>R$ 1,200.00</b></td>
              <td> DATA SELECIONADA</td>
              <button input id="date" type="date" id="button-basic"  dropdownToggle type="button" class="btn-enviado "> Agendar<span class="caret"></span>
              </button>
  
            </tr>
            <tr class="text-center">
              <td>Drenagem linfática</td>
              <td>Clinestetic</td>
              <td>João Pessoa</td>
              <td>Torre</td>
              <td>01:30min</td>
              <td><b>R$ 1,200.00</b></td>
              <td> DATA SELECIONADA</td>
              <button input id="date" type="date" id="button-basic"  dropdownToggle type="button" class="btn-enviado"> Agendar<span class="caret"></span>
              </button>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-center mt-4">
          <!-- <pagination [boundaryLinks]="true" [totalItems]="77" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"> -->
          <!-- </pagination> -->
        </div>
      </div>
