<section class="home">
  <div class="container py-4 px-5">
    <div class="d-flex justify-content-around">
      <div class="card-widget d-block text-center">
        <h4 class="h4 mb-3"> Agende seu horário </h4>
        <div class="form-widget text-center">
          <div>
            <div class="mb-3">
              <select class="form-control form-control-sm" select id="" name="" aria-label=".form-select-sm example">
                <option selected>Escolha uma opção</option>
                <option value="1">Avaliação</option>
                <option value="2">Procedimento</option>
              </select>
            </div>

            <div class="mb-3">
              <select class="form-control form-control-sm" select id="" name="" aria-label=".form-select-sm example">
                <option selected>Escolha um Procedimento</option>
                <option value="1">Limpeza de pele</option>
                <option value="2">Estética facial</option>
                <option value="3">Drenagem linfática</option>
                <option value="4">Microagulhamento</option>
              </select>
            </div>

            <div class="mb-3">
              <input class="form-control form-control-sm" type="text" id="city" name="city"
                placeholder="Informe sua Cidade" aria-label=".form-control-sm example" />
            </div>

            <div class="mb-3">
              <input class="form-control form-control-sm" type="text" id="district" name="district"
                placeholder="Informe seu Bairro" aria-label=".form-control-sm example" />
            </div>

            <div class="mb-3">
              <input class="form-control form-control-sm" type="date" id="date" name="date" />
            </div>

            <div class="d-grid gap-2 col-8 mx-auto">
              <button class="btn btn-purple" routerLink="schedule" type="submit">
                Agendar
              </button>
            </div>
          
          
          </div>
        </div>
      </div>
      <div class="card-image"></div>
    </div>
  </div>
</section>