.home {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fff8e7;
  /* opacity: 0.5; */
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.h4 {
  color:#8e563d;
 
}

.card-widget {
  width: 40%;
}

.form-widget {
  background: white;
  padding: 1rem;
  border-radius: 0.4rem;
}

.btn-purple {
  background-color:#8e563d;
  color: white;
  transition: all 0.3s ease-out;
}

.btn-purple:hover {
  opacity: 0.85;
  transform: translateY(-3px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.13);
  transition: opacity 0.3s ease-in-out;
}

.card-image {
  width: 50%;
  background-image: url("../../assets/image/clinic-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0.6rem;
  opacity: 0.7;
}
