<section class="home">
  <div class="container py-4 px-5">
    <div class="d-flex justify-content-around">
      <div class="card-widget d-block text-center">
        <h4 class="h4 mb-3"> Agende seu horário </h4>
        <div class="form-widget text-center">
          <div>
            <div class="mb-3">
              <select class="form-control form-control-sm" select id="" name="" aria-label=".form-select-sm example">
                <option selected>Escolha uma opção</option>
                <option value="1">Avaliação</option>
                <option value="2">Procedimento</option>
              </select>
            </div>

            <div class="mb-3">
              <select class="form-control form-control-sm" select id="" name="" aria-label=".form-select-sm example">
                <option selected>Escolha um Procedimento</option>
                <option value="1">Limpeza de pele</option>
                <option value="2">Estética facial</option>
                <option value="3">Drenagem linfática</option>
                <option value="4">Microagulhamento</option>
              </select>
            </div>

            <div class="mb-3">
              <input class="form-control form-control-sm" type="text" id="city" name="city"
                placeholder="Informe sua Cidade" aria-label=".form-control-sm example" />
            </div>

            <div class="mb-3">
              <input class="form-control form-control-sm" type="text" id="district" name="district"
                placeholder="Informe seu Bairro" aria-label=".form-control-sm example" />
            </div>

            <div class="mb-3">
              <input class="form-control form-control-sm" type="date" id="date" name="date" />
            </div>

            <div class="d-grid gap-2 col-8 mx-auto">
              <button class="btn btn-purple" routerLink="schedule" type="submit">
                Agendar
              </button>
            </div>
            <!-- link-->
              <a href="#" class="link" data-bs-toggle="modal" data-bs-target="#exampleModal">Termos de uso</a>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Termos de uso Nitech</h4>
                  </div>
                  <div class="modal-body">
                    <p>Este Contrato de Direitos e Responsabilidades (Contrato) é baseado nos valores centrais da Nitech
                      Academy e determina nosso relacionamento com os clientes, usuários e outras pessoas que interagem
                      com a Nitech Academy. Ao usar ou acessar a Nitech Academy (Empresa) e seus produtos e serviços,
                      você concorda com os termos deste Contrato.
                      Esta Política de Privacidade poderá ser atualizada em decorrência de eventual atualização
                      normativa, razão pela qual se convida o usuário a consultar periodicamente esta seção.
                    <p>1. Privacidade e Dados pessoais
                      Sua privacidade é muito importante, assim como a qualidade da experiência de uso. Para que o site
                      seja operacional, é necessária a coleta de dados pessoais. É assim que fazemos boa administração e
                      melhoramos a a experiência dos usuários no site. Alguns destes dados são coletados automaticamente
                      (como o número IP e estatísticas da sua visita, cliques realizados e aberturas de emails por
                      exemplo) e outros são fornecidos por você (informações de registro e também o conteúdo publicado
                      no site ou mensagens privadas entre usuários).
                      Os usuários do site fornecem seus nomes e informações reais, e precisamos da sua ajuda para que
                      isso continue assim. Estes são alguns compromissos que você firma conosco em relação ao registro e
                      à manutenção da segurança de sua conta:
                    <p> 1.1 O fornecimento de dados pessoais corretos no cadastro de clientes é uma condição necessária
                      para a prestação dos serviços, emissão de invoices (notas fiscais) e outros deveres com o poder
                      público. Você concorda em fornecer todos os dados solicitados por nossa Equipe ou pelos nossos
                      sistemas, como todos os seus endereços corretos de email atuais e anteriores para mantermos seu
                      cadastro atualizado e preciso. Seu nome completo e documentos de identificação devem ser
                      fornecidos corretamente conforme cadastro na autoridade nacional competente. É terminantemente
                      proibido o uso de pseudônimos, nomes falsos ou quaisquer dados pessoais, números de telefone ou
                      email contendo erros de digitação. Caso seus dados não estejam completos e corretos, o serviço não
                      será fornecido por violação contratual.
                    <p> 1.2 Estes dados nunca serão vendidos ou cedidos para terceiros, a não ser em caso de exigência
                      legal.
                    <p> 1.3 Podemos fornecer suas informações a empresas que colaboram para que o site funcione. Por
                      exemplo seus dados podem ser enviados para serviços de hospedagem, serviços de backup, processar
                      transações e estatísticas. Nesses casos os nossos parceiros se responsabilizam a manter suas
                      informações confidenciais e consistentes com o Contrato.
                    <p>1.4 As informações disponíveis no site (incluindo vídeos, fotos, comentários, discussões de fórum
                      e anotações) são consideradas exclusivas para membros e você não tem o direito de divulgar
                      informações de terceiros fora da área de membros em qualquer hipótese. Os administradores do site
                      possuem acesso a todas as informações relacionadas ao uso, incluindo mas não se limitando a
                      videos, imagens, respostas de múltipla escolha, respostas dissertativas e anotações feitas dentro
                      da área de alunos.
                    <p> 1.5 Você não irá fornecer qualquer informação pessoal falsa no site, nem criar uma conta para
                      ninguém além de si mesmo sem permissão.
                    <p> 1.6 Se desativarmos sua conta, você não deverá criar outra sem nossa permissão.
                    <p> 1.7 Você não deve compartilhar sua senha (ou, no caso de desenvolvedores, sua chave secreta),
                      deixar alguém acessar sua conta ou fazer qualquer outra coisa que possa comprometer a segurança de
                      sua conta.
                    <p> 1.8 Você não deve usar o site se for menor de 18 anos.
                    <p>1.9 Você não deve usar o site se for um criminoso sexual condenado.
                    <p> 1.10 Você deve manter suas informações de contato precisas e atualizadas.
                    <p> 1.11 Você não deve transferir sua conta para ninguém sem primeiro obter nossa permissão escrita
                      e específica.
                    <p> 1.12 Se você selecionar um nome de usuário para sua conta, nós nos reservaremos o direito de
                      remover ou recuperá-lo se considerarmos adequado (por exemplo, quando um proprietário de uma marca
                      comercial reclamar de um nome de usuário que não tem qualquer relação com o nome real do usuário).
                    <p> 1.13 No caso de mudanças societárias, podemos transferir suas informações para os novos sócios
                      que darão continuidade aos serviços do site.
                    <p> 2. Conteúdo produzido pelo usuário
                      Você é proprietário de todo o conteúdo e informações que publica na Nitech Academy.
                    <p> 2.1 Você nos concede uma licença mundial não exclusiva, transferível, sublicenciável, livre de
                      royalties, para usar qualquer conteúdo e propriedade intelectual produzido por você ou associado a
                      Nitech Academy (Licença PI). Essa Licença PI continua mesmo quando você exclui seu conteúdo de
                      propriedade intelectual ou sua conta, incluindo mas não se limitando a hipóteses em que (1) seu
                      conteúdo tenha sido compartilhado com outros e eles não o tenham excluído ou (2) o conteúdo tenha
                      sido publicado em outras áreas de nossas propriedades (websites, redes sociais, mídia impressa,
                      televisiva ou qualquer outra forma de divulgação).
                    <p> 2.2 Ao excluir um conteúdo PI, ele é excluído de maneira similar ao esvaziamento da lixeira do
                      computador. No entanto, entenda que o conteúdo removido pode permanecer em cópias de backup por um
                      período razoável (mas não estará disponível para outros).
                    <p> 2.3 Sobre sugestões de melhorias para nosso site, somos sempre gratos por seus comentários ou
                      outras sugestões, mas a partir dessas comunicações não haverá compensação por inovações
                      implementadas no site, a não ser no caso de contrato especificamente celebrado para isso. A
                      colaboração é uma característica de comunicação pela Internet e essas trocas de informação não
                      constituem obra coletiva, a não ser em caso de contrato especificamente celebrado com essa
                      finalidade.
                    <p> 3. Segurança
                      Nos empenhamos ao máximo para manter o site seguro, mas não podemos garantir isso. Precisamos de
                      sua ajuda para fazer isso, o que inclui os seguintes compromissos:
                    <p> 3.1 Você não enviará ou publicará de outra forma comunicações comerciais não autorizadas (como
                      spam) no site.
                    <p> 3.2 Você não coletará conteúdo ou informações de usuários, ou acessará o site de outra forma,
                      usando meios automáticos (como bots de coleta, robôs, spiders ou scrapers) sem nossa permissão
                      explícita escrita e específica.
                    <p> 3.3 Nossa equipe editorial é muito zelosa para manter a boa qualidade das comunicações dentro do
                      site e caso você incomode outros usuários ou insista em promover material considerado por nós como
                      pirâmide ou considerado inadequado, sua expulsão pode ser realizada sem aviso prévio, de forma
                      unilateral e sem direito a reembolso. Esta cláusula se aplica também para filtrar membros do
                      curso, e sua participação no grupo pode ser cancelada ou rejeitada a qualquer momento com base em
                      sua atuação em atividades consideradas inadequadas, a nosso exclusivo critério editorial.
                    <p> 3.4 Você não enviará vírus ou outros códigos maliciosos.
                    <p> 3.5 Você não solicitará informações de login nem acessará uma conta que pertença a outra pessoa.
                    <p> 3.6 Você não irá intimidar, assediar ou faltar com o respeito contra qualquer usuário.
                    <p> 3.7 Você não publicará conteúdo inadequado, como por exemplo promovendo ódio ou crime, ameaçador
                      ou pornográfico; incite violência ou uso de drogas, ou contenha nudez ou violência gráfica ou
                      desnecessária.
                    <p> 3.8 Você não usará o site para praticar qualquer ato ilegal, equivocado, malicioso ou
                      discriminatório.
                    <p> 3.9 Você não fará nada que possa desabilitar, sobrecarregar ou impedir o funcionamento adequado
                      do site.
                    <p> 3.10 Você não facilitará nem incentivará a violação deste Contrato.
                    <p> 4. Proteção dos direitos de outras pessoas
                    <p> Nós respeitamos os direitos de outras pessoas, e esperamos que você faça o mesmo.
                    <p> 4.1 Você não deve publicar conteúdo ou tomar qualquer atitude no site que infrinja ou viole os
                      direitos alheios ou a lei. Além do respeito a normas jurídicas, aqui também prezamos pelo respeito
                      e regras de boa convivência. Não toleramos nenhum tipo de ofensas, linguagem rude, desprezo, ódio,
                      spam e comentários cuja finalidade principal parece ser de autopromoção, promoção de terceiros ou
                      divulgar links (link building) ou perturbar a qualidade do diálogo, a nosso exclusivo critério
                      editorial.
                    <p> 4.2 Nós podemos remover qualquer conteúdo ou informações publicadas por você no site se
                      julgarmos que isso viola esta política. O conteúdo poderá ser removido de imediato, marcado como
                      spam (banindo o usuário para sempre do site) ou simplesmente editado. Temos o direito de realizar
                      correções gramaticais, ortografia e clareza de mensagem sobre o conteúdo recebido.
                    <p> 4.3 Se removermos seu conteúdo por infringir os direitos autorais de alguém, e você acredita que
                      o removemos por engano, forneceremos a você a oportunidade de recorrer.
                    <p> 4.4 Se você violar repetidamente os direitos de propriedade intelectual de outras pessoas,
                      desativaremos sua conta quando julgarmos apropriado.
                    <p> 4.5 Você não deve usar nossos direitos autorais ou marcas, ou qualquer marca semelhante que
                      possa causar confusão, sem nossa permissão por escrito.
                    <p> 4.6 Se for coletar informações de usuários, você deverá: obter seu consentimento prévio por
                      escrito e específico, deixar claro que é você (e não o site) quem está coletando as informações e
                      publicar uma política de privacidade explicando quais informações serão coletadas e como elas
                      serão usadas.
                    <p> 4.7 Você não deve publicar documentos de identificação ou informações financeiras confidenciais
                      de ninguém no site.
                    <p> 5. Móvel
                      Ao utilizar o site em aparelhos móveis, lembre-se de que as taxas e os impostos de sua operadora
                      são aplicáveis normalmente.
                      Nossa garantia de satisfação inclui as hipóteses em que, caso não haja compatibilidade com o seu
                      dispositivo móvel, providenciaremos a devolução integral de seu pagamento, desde que notificados
                      dentro do prazo de garantia de acordo com os termos da oferta apresentada.

                    <p> 6. Alterações
                    <p> 6.1 Nós podemos alterar este Contrato a qualquer momento por ser um contrato de adesão. É sua
                      responsabilidade verificar a versão atualizada do contrato.
                    <p> 6.2 Sempre que uma mudança for realizada, ela será efetiva a contar da data de publicação, porém
                      os comentários podem sempre ser enviados para que juntos possamos discutir em como continuar
                      aperfeiçoando o Contrato.
                    <p> 7. Rescisão
                      Se você violar o texto ou a essência deste Contrato, ou gerar possível risco ou exposição legal
                      para nós, podemos deixar de fornecer todo ou parte do site para você e pessoas com as quais
                      acreditamos você ser relacionado. Notificaremos você por e-mail ou na próxima vez que você tentar
                      acessar sua conta. Você também pode excluir sua conta a qualquer momento enviando um email em
                      contato@nitechacademy.com.br
                    <p> 8 Comunicação
                    <p> 8.1 Podemos enviar comunicações a você ao publicar no site ou enviar por email que foi informado
                      a nós. Os avisos publicados no site ou enviados por email serão considerados recebidos após 24
                      horas contadas do momento da publicação ou envio.
                    <p> 8.2 A não ser em disposição em contrário, suas comunicações devem ser enviadas a nós por email
                      em contato@nitechacademy.com.br que é o único canal oficial de comunicação. Quaisquer mensagens
                      enviadas por qualquer outro canal serão desconsideradas e podem ser removidas a nosso critério.
                    <p> 8.3 É necessário que você sempre tenha um endereço de email válido e ativo cadastrado em nossa
                      lista de emails para ter o direito de acesso aos treinamentos. Caso você opte por sua remoção da
                      lista de emails ou caso seu email seja automaticamente excluído como por exemplo no caso de hard
                      bounce, nós poderemos também remover o acesso manualmente ou automaticamente dos treinamentos de
                      sua conta. Caso queira reestabelecer seu acesso, poderemos solicitar sua documentação para
                      comprovar sua identidade.
                    <p> 9. Disputas
                    <p> 9.1 Se alguém abrir uma reclamação contra nós em relação a suas ações, conteúdo ou informações
                      no site, você nos isentará e restituirá da responsabilidade sobre todos os danos, perdas e
                      despesas de qualquer espécie (incluindo as custas judiciais aplicáveis) em relação a essa
                      reclamação.
                    <p> 9.2 Nós tentamos manter o site atualizado, seguro e livre de erros, mas você o usa por sua conta
                      e risco. Nós fornecemos o site no estado em que se encontra sem garantias expressas ou implícitas,
                      incluindo, sem limitação, garantias implícitas de comercialização, adequação a uma finalidade
                      específica e não infração. Não garantimos que o site ficará seguro e protegido. O site não
                      assumirá a responsabilidade por ações, conteúdo, informações ou dados de terceiros, e você isenta
                      a nós, nossos diretores, executivos, funcionários e agentes de qualquer reclamação ou dano,
                      conhecido e desconhecido, decorrente de ou relacionado de qualquer forma a qualquer reclamação que
                      você tenha contra terceiros. Nós não assumiremos a responsabilidade por você por qualquer perda de
                      lucro ou outros danos decorrentes, especiais, indiretos ou acidentais decorrentes de ou em relação
                      a esta declaração ou ao site, mesmo se avisados da possibilidade de tais danos. A legislação
                      aplicável não pode permitir a limitação nem a isenção da responsabilidade por danos acidentais ou
                      consequentes. Portanto, a limitação ou exclusão acima pode não se aplicar a você. Nesses casos, a
                      responsabilidade do site será limitada ao limite máximo permitido por lei.
                    <p> 10. Disposições especiais
                      Dedicamos todos nossos esforços para criar uma comunidade global com padrões consistentes para
                      todos, porém respeitando as leis locais.
                    <p> 11. Outros
                    <p> 11.1 Referências a “nos”, “nós” e “nosso” significam a Nitech Academy conforme apropriado.
                    <p> 11.2 Este Contrato compõe todo o acordo entre as partes em relação ao site e tem precedência
                      sobre acordos e comunicações anteriores, incluindo trocas privadas por email, Twitter ou qualquer
                      outra forma de comunicação.
                    <p> 11.3 Se qualquer parte deste Contrato for considerada como não aplicável, a parte restante
                      permanecerá em total vigência legal.
                    <p> 11.4 Se nós falharmos em impor qualquer parte deste Contrato, isso não será considerado como
                      abdicação de direitos.
                    <p> 11.5 As correções ou abdicações de direitos deste Contrato devem ser efetuadas por escrito e
                      assinadas por nós.
                    <p> 11.6 Você não deve transferir seus direitos nem obrigações sob este Contrato para qualquer outra
                      pessoa sem nosso consentimento expresso por escrito.
                    <p> 11.7 Todos os nossos direitos e obrigações sob este Contrato são livremente atribuídos por nós
                      em relação a fusões, aquisições, vendas de bens, imposição da lei ou outro fator.
                    <p> 11.8 Nada neste Contrato nos impedirá de cumprir a lei.
                    <p> 11.9 Este Contrato não confere direitos que beneficiam terceiros.
                    <p> 11.10 Você deve obedecer a todas as leis aplicáveis quando estiver usando ou acessando o site.
                    <p> 11.12 O site se compromete a tratar os dados pessoais do usuário com confidencialidade, dentro
                      dos limites legais.
                    </p>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-image"></div>
    </div>
  </div>
</section>